body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#111111,#444444);
}

* {
    box-sizing: border-box;
}

div.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

div.photo-box {
    position: absolute;
    top: 0;
    left: 120px;
    background-color: #ddd;
    width: 120px;
    height: 120px;
    border: 1px solid #52c6ff;
    overflow: hidden;
}

div.photo-slider {
    position: absolute;
    top: 0;
    left: -240px;
    width: 720px;
    height: 120px;
    background-color: black;
}

div.photo-slider img {
    position: absolute;
    top: 0;
    width: 120px;
    height: 120px;
}

div.photo-container {
    position: relative;
    width: 360px;
    height: 120px;
}

div.arrow-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    transition: 0.3s;
    background-image: linear-gradient(#46abdd,cyan);
    clip-path: polygon(75% 20%, 50% 50%, 75% 80%, 30% 80%, 0 50%, 25% 20%);
}

div.arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
    transition: 0.3s;
    background-image: linear-gradient(#46abdd,cyan);
    clip-path: polygon(75% 20%, 100% 50%, 75% 80%, 30% 80%, 50% 50%, 25% 20%);
}

div.arrow-right:hover {
    cursor: pointer;
}

div.arrow-left:hover {
    cursor: pointer;
}

div.container {
    width: 600px;
    padding: 10px;
    background-image: linear-gradient(#46abdd,cyan);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.game {
    position: relative;
    width: 600px;
    height: 600px;
    background-image: linear-gradient(#444444,#333333);
}

div.container button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    padding: 10px;
    margin: 5px;
    border: 3px solid transparent;
    background-color:#222222;
    color: #52c6ff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

div.container button:hover {
    border: 3px solid #222222;
    background-color: transparent;
    color: #222222;
    cursor: pointer;
}

div.area {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

div#special {
    background-image: none;
}

.animation {
    transition: 0.15s;
}

#game-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(15,15,15,0.99);
    display: none;
    z-index: 10;
    font-size: 32px;
    color: white;
    text-align: center;
}

div.time {
    width: 100%;
    height: 100px;
}

input.nick {
    width: 260px;
    height: 70px;
}

.submit {
    width: 100px;
    height: 70px;
    margin-top: 10px;
    border: 2px solid transparent;
    background-color: #52c6ff;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    transition: 0.3s;
}

.submit:hover {
    border: 2px solid #52c6ff;
    background-color: transparent;
    color: #52c6ff;
    cursor: pointer;
}

.next {
    width: 100px;
    height: 70px;
    margin-top: 10px;
    border: 2px solid transparent;
    background-color: #52c6ff;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    transition: 0.3s;
}

.next:hover {
    border: 2px solid #52c6ff;
    background-color: transparent;
    color: #52c6ff;
    cursor: pointer;
}

.end {
    position: absolute;
    top: 0;
    left: 0;
}

div.timer {
    width: 171px;
    height: 21px;
    background-color: #000;
    margin: 10px 0;
}

div.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid white;
    margin-top: 10px;
    padding-right: 20px;
}

ol p {
    font-size: 16px;
    font-weight: bold;
}

ol {
    color: white;
}

ol li {
    text-align: left;
    font-size: 12px;
    line-height: 30px;
}

ol li:first-of-type {
font-weight: bold;
}
